{# templates/article/index.html.twig #}

{# {% extends 'base.html.twig' %} #}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
    <h1>Liste des Articles</h1>

    <ul>
        {% for article in articles %}
            <li>
                {{ article.nom }} - {{ article.prix }} - {{ article.quantite }} - {{ article.description }}
                {# <a href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a> #}
                <a href="{{ path('article_delete', {'id': article.id}) }}">Supprimer</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('article_type') }}">Ajouter un nouvel article</a>
{% endblock %}
